.note {
  position: relative;
}

.done {
  background-color: #ccff90;
}

.icon {
  cursor: pointer;
}

.note-actions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.note-header {
  justify-content: center;
}

.note-content {
  text-align: left;
  width: fit-content;
}

.delete-button {
  position: absolute;
  right: 0;
  top: 0;
}
